// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
    font-family: Microsoft JhengHei, sans-serif;
    font-size: 18px;
}

.card {
    margin-top: 15px;
}


.scoreboard {
    background-color: #fff;
    border-top: 1px solid #cbccce;
    border-left: 1px solid #cbccce;
}

.item {
    display: flex;
    text-align: center;
}

.item>span {
    width: 100%;
    border-bottom: 1px solid #cbccce;
    border-right: 1px solid #cbccce;
    font-size: 28px;
    font-family: Microsoft JhengHei,sans-serif;
    color: gray;
}
